stages:
  - test

test:
  stage: test
  image: gcc:latest
  before_script:
    - apt-get update && apt-get install -y cmake ninja-build git
  script:
    - mkdir -p build
    - cd build
    - cmake ..
    - cmake --build .
    - ./src/test/VDSProject_test  # Direct test execution
